<html>
<head>
    <title>Sudoku</title>
    <style>
        .btn {
            display: inline-block;
            border: 1px solid rgba(222, 222, 222, 0.4);
            border-radius: 5px;
            padding: 5px 10px;
            user-select: none;
        }

        .btn:hover {
            cursor: pointer;
        }

        .board {
            width: 490px;
            min-width: 490px;
            height: fit-content;
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
        }

        .board > div {
            width: 50px;
            height: 50px;
            font-size: 30px;
            border: 1px solid black;
        }

        .board > div:nth-child(3n) {
            border-right: 3px solid black;
        }

        .board > div:nth-child(9n+1) {
            border-left: 3px solid black;
        }

        .board > div:nth-child(27), .board > div:nth-child(26), .board > div:nth-child(25), .board > div:nth-child(24), .board > div:nth-child(23), .board > div:nth-child(22), .board > div:nth-child(21), .board > div:nth-child(20), .board > div:nth-child(19), .board > div:nth-child(46), .board > div:nth-child(47), .board > div:nth-child(48), .board > div:nth-child(49), .board > div:nth-child(50), .board > div:nth-child(51), .board > div:nth-child(52), .board > div:nth-child(53), .board > div:nth-child(54) {
            border-bottom: 3px solid black;
        }
    </style>

    <script src="sudoku.js"></script>
    <script type="importmap">
      {
        "imports": {
          "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js"
        }
      }
    </script>

    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      /*
      tailwind.config = {
        theme: {
          extend: {
            width: {
              33: '33%',
            }
          }
        }
      }
      */
    </script>
</head>
<body>
    <div class="container m-auto select-none bg-gray-100" id="app" @keydown="handleInput">
        <div class="flex">
            <div class="board">
                <template v-if="solver" v-for="(row, rowindex) of solver.board">
                    <div v-for="(cell, colindex) of row" @click="inputHighlight(rowindex, colindex)" class="flex items-center justify-center hover:cursor-pointer" :class="(input && input.col === colindex && input.row === rowindex) ? 'bg-blue-100' : ''">
                        <div v-if="cell" class="w-full h-full text-center">
                            {{ cell }}
                        </div>
                        <div v-else-if="hovered && hovered.type === 1 && rowindex === hovered.row && colindex === hovered.col" class="text-blue-500 w-full h-full text-center">
                            {{ hovered.digit }}
                        </div>
                        <div v-else-if="showCandidates" class="flex flex-wrap">
                            <template v-for="candidate of [1, 2, 3, 4, 5, 6, 7, 8, 9]">
                                <div class="flex items-center justify-center w-1/3" :class="!solver.candidates[rowindex][colindex].includes(candidate) ? 'opacity-0' : ''">
                                    <span class="text-xs">
                                        <span v-if="highlightCandidateRemoval(rowindex, colindex, candidate)" class="text-red-500">
                                            {{ candidate }}
                                        </span>
                                        <span v-else-if="highlightRemainingCandidates(rowindex, colindex, candidate)" class="text-green-500">
                                            {{ candidate }}
                                        </span>
                                        <span v-else class="opacity-50">
                                            {{ candidate }}
                                        </span>
                                    </span>
                                </div>
                            </template>
                        </div>
                    </div>
                </template>
            </div>
            <div class="w-full">
                <label for="showcandidates">
                    <input type="checkbox" id="showcandidates" v-model="showCandidates"> Show candidates
                </label>
                <div v-if="solver" v-for="group of solver.techniques()" class="techgroup w-full">
                    <h2 class="text-xl font-medium my-3">{{ group.name }}</h2>
                    <div class="flex w-full">
                        <div v-for="tech of group.tech" class="pr-2 w-1/4">
                            <h3 class="font-medium">{{ tech.name }}</h3>
                            <ul v-for="solution of tech.solutions">
                                <li class="cursor-pointer" @click="solver.applySolution(solution); hovered=null" @mouseover="techOnHover(solution)" @mouseleave="hovered=null">
                                    <template v-if="solution.type === 1">
                                        {{ solution.digit }} at ({{ solution.row }}, {{ solution.col }})
                                    </template>
                                    <template v-else-if="solution.type === 2">
                                        {{ solution.candidates.join(', ') }} at {{ solution.cells.map(function(cell){ return `(${cell.row}, ${cell.col})` }).join(' and ') }}
                                    </template>
                                    <template v-else-if="solution.type === 3">
                                        {{ solution.candidate }} on {{ solution.unit }} {{ solution.index }}
                                    </template>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <script type="module">
      import { createApp, ref } from 'vue'

      createApp({
        data() {
          return {
            solver: null,
            hovered: null,
            showCandidates: false,
            input: null,
          }
        },
        mounted: function () {
            this.solver = new Solver();
            window.addEventListener('keydown', this.handleInput);
        },
        methods: {
            techOnHover: function(solution) {
                this.hovered = solution;
            },
            highlightCandidateRemoval: function(rowindex, colindex, candidate) {
                if (!this.hovered) {
                    return false;
                }

                if (this.hovered.type === 2) {
                    for (let cell of this.hovered.cells) {
                        if (cell.row === rowindex && cell.col === colindex && !this.hovered.candidates.includes(candidate)) {
                            return true;
                        }
                    }
                }

                if (this.hovered.type === 3) {
                    for (let rcandidate of this.hovered.rcandidates) {
                        if (rcandidate.row === rowindex && rcandidate.col === colindex && rcandidate.candidate === candidate) {
                            return true;
                        }
                    }
                }

                return false;
            },
            highlightRemainingCandidates: function(rowindex, colindex, candidate) {
                if (!this.hovered) {
                    return false;
                }

                if (this.hovered.type === 2) {
                    for (let cell of this.hovered.cells) {
                        if (cell.row === rowindex && cell.col === colindex && this.hovered.candidates.includes(candidate)) {
                            return true;
                        }
                    }
                }

                return false;
            },
            inputHighlight: function (row, col) {
                if (this.input && this.input.row === row && this.input.col === col) {
                    this.input = null;
                    return;
                }
                this.input = {
                    row,
                    col,
                }
            },
            handleInput: function(e) {
                if (!this.input) {
                    return;
                }
                if (typeof e.key === 'undefined') {
                    return;
                }
                let clear = ['0', 'Delete', 'Backspace', 'Escape', 'c'];
                let digits = ['1', '2', '3', '4', '5', '6', '7', '8', '9'];
                if (![].concat(clear, digits).includes(e.key)) {
                    return;
                }
                let input = e.key;
                if (clear.includes(input)) {
                    input = '0';
                }
                input = parseInt(input);
                this.solver.fillDigit(this.input.row, this.input.col, input);
            }
        }
      }).mount('#app')
    </script>
</body>
</html>